
.navbar a{
    text-decoration: none !important;
    color:black !important;

}

.top-50{
    top:50%
}
.main h3{
    border-bottom: 1px solid gray;
}
.br{
    background-color: rgb(0 0 0 / 80%);
}
.d-initial{
    display: initial;
    left:47px;
}
.bg-black{
    background-color: black;
}